html {
    background-image: url(https://image.freepik.com/free-vector/top-view-city-map_23-2147630665.jpg);
    background-size: cover;
    font-family: sans-serif;
    font-size: 14px;
}

img {
    height: 100px;
    width: 300px;
    object-fit: scale-down;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.2s;
}
section{
    height: 10px;
    width: 10px;
    background-color: darkred;
}